<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="file_all" xsi:type="File" fileName="logs/${shortdate}-debug.log"
				layout="${longdate} ${uppercase:${level}} ${logger} - ${message} ${exception}" />
		<target name="file_importants" xsi:type="File" fileName="logs/${shortdate}-important.log"
				layout="${longdate} ${uppercase:${level}} ${logger} - ${message} ${exception}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file_all" />
		<logger name="*" minlevel="Warn" writeTo="file_importants" />
	</rules>

</nlog>